# Godot 4+ specific ignores
.godot/

# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/
data_*/

assets/Abstraction - Ludum Dare 28 Loops.zip
assets/Abstraction - Ludum Dare 30 Loops.zip
assets/Abstraction - Ludum Dare 32 Loops.zip
assets/Abstraction - Ludum Dare 38 Loops.zip
assets/Abstraction - Patreon Goal Reward Loops.zip
assets/Abstraction - The Verdant Grove.zip
assets/Abstraction - VGMA July Daily Challenge.zip
assets/Gamedevtuts_Free_Shmup_Sprites.zip
assets/Gamedevtuts_Free_Shmup_Sprites/

# Visual Studio Code
.vscode/settings.json
